<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label class="mb-1" for="name">Name</label>
                    <input class="form-control" type="text" name="" id="name">
                </div>
                <div class="col-sm-2 form-group">
                    <label class="mb-1" for="amount">Amount</label>
                    <input class="form-control" type="number" min="0" name="" id="amount">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 mt-1">
                    <button class="btn btn-success" type="submit">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                    <button class="btn btn-primary" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
