<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-primary">Add Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <div *ngFor="let recipe of recipes" class="card">
            <img class="card-img-top" [src]="recipe.imagePath" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ recipe.name }}</h5>
              <p class="card-text">{{ recipe.description }}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
<app-recipe-item></app-recipe-item>
